<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://unpkg.com/vue@next"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
	<div id="app" class='container'>
		<br><br><br>
		<div class="columns">
			<div class="column">
				<div class="card is-fullheight">
					<div class="card-header">
						<h1 class="card-header-title title">{{ you.name }}</h1>
					</div>
					<div class="card-content">
						<h1 class="subtitle">Moves</h1>
						<table class="table is-bordered">
							<thead>
								<tr>
									<th>Move name</th>
									<th>Damage</th>
									<th>Confuses (t/f)</th>
									<th>Poisons (t/f)</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for='move in you.moves'>
									<th> {{ move.name}}</th>
									<th>{{ move.dmg }}</th>
									<th> {{move.poisons}}</th> 
									<th> {{ move.confuses}}</th>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card is-fullheight">
					<div class="card-header">
						<h1 class="card-header-title title">{{ enemy.name }}</h1>
					</div>
					<div class="card-content">
						<h1 class="subtitle">Moves</h1>
						<table class="table is-bordered">
							<thead>
								<tr>
									<th>Move name</th>
									<th>Damage</th>
									<th>Confuses (t/f)</th>
									<th>Poisons (t/f)</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for='move in enemy.moves'>
									<th> {{ move.name}}</th>
									<th>{{ move.dmg }}</th>
									<th> {{move.poisons}}</th> 
									<th> {{ move.confuses}}</th>
								</tr>
							</tbody>
							
								
									
								
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>